@import "tailwindcss";

@font-face {
    font-family: Dystopian;
    src: url('/dystopian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
@theme {
    --font-dystopian: "Dystopian", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

.glow {
    text-shadow: 0 0 10px #095f59, 0 0 20px #095f59, 0 0 30px #095f59;
    color: white;
  }