@import "tailwindcss";

@font-face {
    font-family: Dystopian;
    src: url('/dystopian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
@theme {
    --font-dystopian: "Dystopian", sans-serif;
}