<div class="p-8 md:p-12 mt-16">
    <p class="text-4xl font-bold mb-4">Starter projects</p>

    <p>No clue what to make? Not a problem! Start here.</p>

    <p class="my-2">All of these include resources, guides, and a dedicated slack channel for the.</p>

    <p>No need to worry about sourcing parts either! Submitting these will have the parts shipped straight from Hack Club as one package</p>

    <div class="flex">

        <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-8 mt-12 mb-2 mr-auto">

            <%= render partial: "kit", locals: { 
                badge: "recommended", 
                image: "landing/hackpad.png", 
                title: "Hackpad", 
                description: "Make your very own macropad - completely from scratch! - Join #hackpad in the Slack", 
                back_description: "A macropad is a device used for keyboard shortcuts! Want to turn your mic on/off using a key, change video streaming settings, or open a specific configuration in an app? A macropad can do it all!", 
                learnings: ["How to make a full PCB", "How to design a 3D printed case"], 
                link: "https://hackpad.hackclub.com/" 
            } %>
            <%= render partial: "kitsoon", locals: { 
                badge: "", 
                image: "mystery.png", 
                title: "??????", 
                description: "You'll be able to play Sonic Adventures on it...", 
            } %>
            <%= render partial: "kitsoon", locals: { 
                badge: "", 
                image: "mystery.png", 
                title: "??????", 
                description: "Hey Jarvis, tell me a joke!", 
            } %>
        
        </div>
    </div>

    <p class="mt-8"><i>More coming soon!</i></p>
</div>