<div class="bg-[#544FFF] rounded p-8 max-w-xl text-md text-center transition-transform duration-200 hover:scale-102">
  <p class="text-xl font-bold"><%= title %></p>
  <div class="mt-4 text-md">
    <p><%= content %></p>
  </div>
</div>