<div class="relative mt-12">
  <%= image_tag "landing/landing4.png", style: "width: 100%;" %>
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="bg-[#544FFF] md:p-80 md:py-48 p-4 rounded-lg text-white text-center">
      insert video here
    </div>
  </div>
</div>