<script>
      function toggleMute() {
      var myAudio = document.getElementById('background-audio');
      myAudio.muted = !myAudio.muted;
      var audioToggle = document.getElementById('audio-toggle');
      audioToggle.textContent = myAudio.muted ? '🔇' : '🔊';
    }
    </script>

    <div class="fixed bottom-0 right-0 z-50 p-4">
    <audio id="background-audio" loop autoplay muted data-turbo-permanent>
      <source src="/highwaymusic.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <button id="audio-toggle" onclick="toggleMute()" class="bg-[#5453FF] rounded-full p-3 px-4 border-4 border-white text-white">
      🔇
    </button>
</div>