<div class="mt-16">

    <div class="p-8 flex flex-col justify-center items-center">


    

        <p class="text-4xl font-bold font-dystopian">Events</p>

        <p class="mt-2 opacity-80">Check this page for events - like game nights, speedruns, showcases, and more - that we'll be hosting throughout Highway!</p>
        <p class="mt-2 opacity-60"><i>Sorted by recent.</i></p>

        <div class="mt-8 grid grid-cols-1 gap-8">   

        

            <div class="flex flex-col p-8 rounded max-w-5xl border-[#544FFF] border-4 hover:bg-[#3E399C] bg-[#2E2C72] transition-colors duration-150">
                <p class="text-2xl font-bold">Join us for the Kickoff Call @ Friday May 23, 7PM EST!</p>
                <p class="opacity-50 mb-2"><i>Posted 13/5/2025</i></p>
                <hr class="border-t-2 border-[#544FFF] mb-4 opacity-60">
                <div class="space-y-2 opacity-80 mb-4">
                    <p>Mark your calendars! This Friday, we're going to be kicking Highway off with a 1-hour Zoom meeting with all the important details.</p>
                    <p>We'll be going over travel stipends, project guidelines, and more!</p>
                    <p>Feel free to start working on your project and journalling before this call!</p>
                    <p class="font-bold"><i>You'll also get one (1) free point to Undercity for joining!</i></p>
                </div>
                <%= image_tag "/event1kickoff.svg", style: "", class: "" %>


            </div>


        </div>

    </div>

</div>