<div class="">
<h1 class="text-3xl mb-6 text-green-200"><%= project.name %></h1>

<%= link_to "View on GitHub",
            project.github_repo,
            class: "bg-[#96ABF9] text-white px-4 py-2 rounded hover:opacity-80 transition duration-200",
            target: "_blank" %> 

</div>