<div class="flex flex-col items-center">
  <h1 class="text-5xl mb-2 text-green-200 font-dystopian"><%= project.name %></h1>

  <%= link_to "View on GitHub",
              project.github_repo,
              class: "bg-[#544FFF] font-bold text-white px-4 py-2 rounded hover:opacity-80 transition duration-200" %> 
</div>