<div class="bg-[#3A5CE1] rounded-md border-2 border-[#96ABF9] p-8 mx-24 mt-24 text-center">
    <h1 class="text-2xl">Fiona Hackworth</h1>
    <p>@fiona.hackworth</p>
    <p class="opacity-70">
        <%= pluralize(@user.posts.count, "post") %> created
        <span>// <%= pluralize(9, "hour") %> spent on </span>
    <p>

    
</div>