.markdown-content {
    line-height: 1.65;
    font-size: 0.75rem;
    font-weight: 400;
    color: #ded9e5;
}
  
.markdown-content h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1.8rem;
    border-bottom: 2px solid #433d67;
    padding-bottom: 0.2rem;
}

.markdown-content h2 {
    font-size: 2em;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
}

.markdown-content h3 {
    font-size: 1.5em; 
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown-content h4 {
    font-size: 1.25em; 
    font-weight: 550;
    color: #86e3a8;
    margin-bottom: 1rem;
}

.markdown-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
}
  
.markdown-content ul {
    list-style-type: circle;
    margin-left: 1.5rem;
    line-height: 2;
    font-size: 1rem;
}

.markdown-content ul:not(.markdown-content ul ul) {
    /* padding-bottom: 1.5rem; */
    list-style-type: disc;
}
  
.markdown-content ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 550;
}

.markdown-content hr {
    border: 0;
    height: 6px;
    background-color: #605989;
    margin: 2rem 0;
}
  
.markdown-content blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
}

.markdown-content a {
    color: #f583e4; 
    text-decoration: underline;
    font-weight: bold; 
    word-break: break-word; 
}

.markdown-content a:hover {
    color: #f1b6e8; 
    text-decoration: underline;
    font-weight: extra-bold;
}

.markdown-content strong {
    font-weight: 600;
    color: #ffffff;
}

.markdown-content pre {
    background-color: #3c3672;
    border-color:#d1cadb;
    border-width: 1px;
    color: #d1cadb;
    padding: 1rem; 
    border-radius: 0px; 
    overflow-x: auto; 
  }
  
.markdown-content code {
    background-color: #3c3672; 
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem; 
  }

.markdown-content input[type="checkbox"] {
  /* Example styles */
  width: 1.1em;
  height: 1.25em;
  accent-color: #4fad4c; /* Modern browsers */
  margin-right: 0.5em;
  vertical-align: middle;
  cursor: not-allowed;
  /* Add more styles as needed */
}

.project-img img {
    width: 800px;
}

/*

div styling, probably don't need to touch this part.

*/
div.markdown li {
    display: list-item;
}
  
div.markdown ul {
    display: block;
    list-style-type: disc;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
  
div.markdown ol {
    display: block;
    list-style-type: decimal;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
  
div.markdown p:last-child {
    padding-bottom: 5rem;
}

