.markdown-content {
    line-height: 1.5;
    color: #dedae3;
}
  
.markdown-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1.8rem;
    border-bottom: 2px solid #433d67;
    padding-bottom: 0.2rem;
}

.markdown-content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
}

.markdown-content h3 {
    font-size: 1.75em; 
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.markdown-content h4 {
    font-size: 1.25em; 
    font-weight: 600;
    color: #86e3a8;
    margin-bottom: 1rem;
}

.markdown-content p {
    font-size: large;
    margin-bottom: 1rem;
}
  
.markdown-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 550;
}
  
.markdown-content ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: 550;
}
  
.markdown-content blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
}

div.markdown li {
    display: list-item;
}
  
div.markdown ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
  
div.markdown ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
  
div.markdown p:last-child {
    padding-bottom: 5rem;
}

.markdown-content a {
    color: #f583e4; 
    text-decoration: underline;
    font-weight: bold; 
    word-break: break-word; 
}

.markdown-content a:hover {
    color: #f1b6e8; 
    text-decoration: underline;
    font-weight: extra-bold;
}

.markdown-content strong {
    font-weight: bold;
    color: #86cfe5;
}

.markdown-content pre {
    background-color: #3c3672;
    color: #ffffff;
    padding: 1rem; 
    border-radius: 8px; 
    overflow-x: auto; 
  }
  
.markdown-content code {
    background-color: #3c3672; 
    color: #ffffff;
    padding: 0.2rem 0.4rem; 
    border-radius: 4px;
  }
