<h1>Posts</h1>

<%= link_to "New Post", new_post_path %>

<div class="grid grid-cols-1 gap-4">
  <% @posts.each do |post| %>
    <%= link_to post_path(post), class: "block bg-[#2E2A54] max-w-6xl p-4 rounded-lg text-white hover:bg-[#3A3A6D] transition duration-100" do %>
      <h2 class="text-lg font-bold"><%= post.name %></h2>
    <% end %>
  <% end %>
</div>