<div class="w-64 bg-[#2E2A54] text-white p-5 h-screen fixed">
  <%= image_tag "logo.png", class: "w-full mb-8" %>

  <div class="text-center grid grid-cols-1 gap-2">
    <div class="hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100">Main</div>
    <div class="hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100">User</div>
    <div class="hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100">Leaderboards</div>
    <div class="hover:bg-[#564CAD] border-2 border-[#564CAD] p-2 rounded-lg transition duration-100">Info</div>
  </div>
</div>